{% extends 'base.html' %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Portfolio - Chastity</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
    <div class="header-content">
        <h1>Welcome to my stock portfolio website</h1><br/>
    </div>
</header>

    <main>
        <div class="content">
            <p>
                I'm Chastity, a full-stack software developer with a specialization in blockchain development. Combining my passion for coding and finance, I have created this platform for you.
            </p>
            <p>
                Get ready to explore trending tickers, effortlessly manage your stocks, and access valuable raw daily time series data by simply entering a company's ticker symbol in the search bar. Stay ahead of the market trends and make well-informed investment decisions.
            </p>
            <p>
                Thank you for visiting!
            </p>
        </div>
       
    </main>
</body>
</html>



{% endblock %}
