
{% extends 'base.html' %}
{% block content %}


<h1>Trending Tickers</h1>
<ul>
<li><strong>AAPL</strong> - Apple Inc. (<em>Technology</em>)</li>
<li><strong>AMZN</strong> - Amazon.com Inc. (<em>Retail</em>)</li>
<li><strong>MSFT</strong> - Microsoft Corporation (<em>Technology</em>)</li>
<li><strong>GOOGL</strong> - Alphabet Inc. (<em>Technology</em>)</li>
<li><strong>FB</strong> - Facebook Inc. (<em>Technology</em>)</li>
<li><strong>TSLA</strong> - Tesla Inc. (<em>Automobile</em>)</li>
<li><strong>JNJ</strong> - Johnson & Johnson (<em>Healthcare</em>)</li>
<li><strong>JPM</strong> - JPMorgan Chase & Co. (<em>Financial Services</em>)</li>
<li><strong>V</strong> - Visa Inc. (<em>Financial Services</em>)</li>
<li><strong>WMT</strong> - Walmart Inc. (<em>Retail</em>)</li>
<li><strong>BABA</strong> - Alibaba Group Holding Ltd (<em>Retail</em>)</li>
<li><strong>NVDA</strong> - NVIDIA Corporation (<em>Technology</em>)</li>
<li><strong>PG</strong> - Procter & Gamble Co. (<em>Consumer Goods</em>)</li>
<li><strong>UNH</strong> - UnitedHealth Group Incorporated (<em>Healthcare</em>)</li>
<li><strong>MCD</strong> - McDonald's Corporation (<em>Restaurant</em>)</li>
<li><strong>MA</strong> - Mastercard Incorporated (<em>Financial Services</em>)</li>
<li><strong>DIS</strong> - The Walt Disney Company (<em>Entertainment</em>)</li>
<li><strong>VZ</strong> - Verizon Communications Inc. (<em>Telecommunications</em>)</li>
<li><strong>NKE</strong> - NIKE Inc. (<em>Apparel</em>)</li>
<li><strong>HD</strong> - The Home Depot Inc. (<em>Retail</em>)</li>
<li><strong>PFE</strong> - Pfizer Inc. (<em>Pharmaceuticals</em>)</li>
<li><strong>BAC</strong> - Bank of America Corporation (<em>Financial Services</em>)</li>
<li><strong>CVS</strong> - CVS Health Corporation (<em>Healthcare</em>)</li>
<li><strong>XOM</strong> - Exxon Mobil Corporation (<em>Energy</em>)</li>
<li><strong>MRK</strong> - Merck & Co. Inc. (<em>Pharmaceuticals</em>)</li>
<li><strong>CMCSA</strong> - Comcast Corporation (<em>Telecommunications</em>)</li>
<li><strong>KO</strong> - The Coca-Cola Company (<em>Beverages</em>)</li>
<li><strong>BA</strong> - The Boeing Company (<em>Aerospace</em>)</li>
<li><strong>NFLX</strong> - Netflix Inc. (<em>Entertainment</em>)</li>
<li><strong>CSCO</strong> - Cisco Systems Inc. (<em>Technology</em>)</li>
<li><strong>ORCL</strong> - Oracle Corporation (<em>Technology</em>)</li>
<li><strong>IBM</strong> - International Business Machines Corporation (<em>Technology</em>)</li>
<li><strong>ADBE</strong> - Adobe Inc. (<em>Technology</em>)</li>
<li><strong>PYPL</strong> - PayPal Holdings Inc. (<em>Financial Services</em>)</li>
<li><strong>CRM</strong> - Salesforce.com Inc. (<em>Technology</em>)</li>
<li><strong>INTC</strong> - Intel Corporation (<em>Technology</em>)</li>
<li><strong>AMGN</strong> - Amgen Inc. (<em>Biotechnology</em>)</li>
<li><strong>WFC</strong> - Wells Fargo &; Company (<em>Financial Services</em>)</li>
<li><strong>UPS</strong> - United Parcel Service Inc. (<em>Logistics</em>)</li>
<li><strong>T</strong> - AT&T Inc. (<em>Telecommunications</em>)</li>
<li><strong>VRTX</strong> - Vertex Pharmaceuticals Incorporated (<em>Biotechnology</em>)</li>
<li><strong>ABT</strong> - Abbott Laboratories (<em>Healthcare</em>)</li>
<li><strong>COST</strong> - Costco Wholesale Corporation (<em>Retail</em>)</li>
</ul>

{% endblock %}